.main {
    padding-top: 10px;
}
.slider-container {
    height: 50%;
    display: flex;
}
.slider {  
    position: absolute;
    display:flex;
    height:15% ;
}
.card {
    margin-right: 20px;
    margin-bottom:20px;
    height: 300px;
}
.card-img-top{
    height: 200px;
}
.category-name{
    font-size: 12px;
    color: gray;
}
.product-name {
    font-weight: bold;
}
.card:hover {
    border-color: green;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}