.categories-navbar {
    display:flex;
}
.sidebar {
    width:23%;
}
.sidebar ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.sidebar h3{
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
}
.categories-dropdown {
    display:flex;
    justify-content: space-between;  
}
.category-sidebar{
    border-bottom: 1px solid rgb(212, 202, 202);
    cursor: pointer;
}
.icon-position {
    margin-top: 15px;
}
.category-item{
    list-style-type: none;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
    
}
.categories-dropdown:hover{
    color:green;
}
.dropdown-container {
    display: none;
    background-color: #262626;
    padding-left: 8px;
  }
.product-container{
    width:80%;
    margin-left:50px;
}
.category-title{ 
    height:120px; 
    background-color: rgb(225, 227, 228);
    border-radius: 2%;
}
.category-title h1{
    font-weight: bolder;
    padding-top:37px;
    padding-left:30px
}
.products-div{
    padding-top:10px;
    padding-bottom: 10px;
}
.wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
  }